<div class="bg">

<div class= "col-sm-offset-4">
<div class="container">
    <div class="row signInForm">
    	<%= form_for @user, {url: session_path} do |f| %>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock"></span> Login</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">
                            Email</label>
                        <div class="col-sm-9">
                            <%= f.text_field :email, placeholder: "E-mail" %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">
                            Password</label>
                        <div class="col-sm-9">
                            <%= f.password_field :password, placeholder: "Password" %>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"/>
                                    Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-offset-3 col-sm-9">
                            <%= f.submit "Log In", class: "btn btn-success btn-sm" %>
                           <!-- If I want a reset button -->
                            <%#= f.submit "Reset",  class: "btn btn-default btn-sm" %>
                         </div>
                    </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Not Registred?  <%= link_to "Sign Up", new_user_path if !@is_signup%></div>
            </div>
        </div>
        <% end %>
    </div>
</div>
<!-- h1>Login</h1>
<h5> Need an account? </h5>
<%# link_to "Logout", session_path, method: :delete %> 
<%#= link_to "Sign Up", new_user_path if !@is_signup%>
<%#= link_to "Log In", new_session_path if !@is_login%>
<%#= form_for @user, {url: session_path} do |f| %>
	<%#= f.text_field :email, placeholder: "E-mail" %>
	<%#= f.password_field :password, placeholder: "Password" %>
	<%#= f.submit "Log In" %>
<%# end %> -->
</div>
</div>